* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;

  width: 100%;
  min-height: 100%;
}

body {
  font-family: "Pretendard", sans-serif;

  background: #f6f7f9;
  color: #17191e;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}